<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}">
<head>
  <title th:text="${postFindById.getTitle()}"></title>
  <meta name="title" th:content="${postFindById.getTitle()}">
  <meta name="robots" content="all">
  <meta name="description" th:if="${plainTextContent.length()>200}" th:content="${#strings.substring(plainTextContent,0,200)}">
  <meta name="description" th:if="${plainTextContent.length()<200}" th:content="${plainTextContent}">
  <meta property="og:type" content="website"/>
  <meta property="og:title" th:content="${postFindById.getTitle()}"/>
  <meta property="og:image" th:content="${postFindById.getThumbnail()}" th:if="${postFindById.getThumbnail()!=null}"/>
  <meta property="og:image" content="https://drive.google.com/uc?export=download&id=10N4Yv5PgVo4j5o0pVUYxmSxWUTrJjYKm" th:unless="${postFindById.getThumbnail()!=null}"/>
  <meta property="og:description" th:if="${plainTextContent.length()>200}" th:content="${#strings.substring(plainTextContent,0,200)}">
  <meta property="og:description" th:if="${plainTextContent.length()<200}" th:content="${plainTextContent}">
</head>
<body>
<div layout:fragment="post-card-head">
  <section class="post-card-header">
    <header class="inner">
      <form name="deletePost" id="deletePosts" th:action="@{/post/delete/{postId}(postId=${postId})}" method="post">
        <span class="category" th:if="${postFindById.getCategoryTitle()}" th:text="${postFindById.getCategoryTitle()}"></span>
        <span class="post-card-title" th:text="${postFindById.getTitle()}">Header</span>
        <input type="hidden" id="postFindById_title" th:value="${postFindById.getTitle()}">
        <span class="meta">
        <span  th:text="${#temporals.format(postFindById.getCreatedDate(),'yyyy-MM-dd')}">Date</span>
        <a th:href="@{/post/edit/{postId}(postId=${postId})}" sec:authorize="hasRole('ROLE_ADMIN')">· 수정 ·</a>
          <button id="del-button" class="del-button" sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
          </span>
      </form>
      <script src="/js/post/deletePost.js"></script>
    </header>
  </section>
</div>
<main layout:fragment="leftcolumn">
  <article class="container post-inner">
    <section class="card bg-light mb-3 content-wrap">
      <section class="card-body">
        <p class="card-text" th:utext="${postFindById.getContent()}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </section>
      <section class="card-footer">
        <a href="#" title="facebook" onclick="facebook()"><img src="/img/facebook.png" class="share-button facebook" alt="facebook"/></a>
        <a href="#" title="twitter" onclick="twitter()"><img src="/img/twitter.png" class="share-button twitter" alt="twitter"  /></a>
        <a id="kakaotalk-sharing-btn" href="javascript:;" onclick="sendKakao()" title="kakaoTalk"><img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                                                              class="share-button kakaoTalk"  alt="카카오톡 공유 보내기 버튼"/></a>
        <span>
	        <script type="text/javascript" src="https://ssl.pstatic.net/share/js/naver_sharebutton.js"></script>
	        <script type="text/javascript">
	          new ShareNaver.makeButton({"type": "b"});
	        </script>
        </span>
        <a href="#" title="clipboard" id="clipboard"><img src="/img/clothespin.png" class="share-button" alt="clip" style="margin-left: 5px" /></a>
        <script type="text/javascript" src="/js/utils/copyUrl.js"></script>
        <script type="text/javascript" src="/js/utils/snsShare.js"></script>
        <input name="post-id" class="post-id" type="hidden" th:value="${postId}">
        <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
        <script src="/js/post/kakao_share.js"></script>
      </section>

    <!-- PostListInCategory -->
    <section class="another_category">
      <h4>
        '
        <a th:href="@{/post/category(q=${postFindById.getCategoryTitle()})}" th:text="${postFindById.getCategoryTitle()}"></a>
        ' 카테고리의 다른 글
      </h4>
      <table>
        <tbody th:if="${another_category.getId()!=postFindById.getId()}" th:each="another_category:${anotherCategory}">
          <tr>
            <th><a th:href="@{/post/{id}(id=${another_category.getId()})}" th:text="${another_category.getTitle()}"></a></th>
            <td th:text="${#temporals.format(another_category.getCreatedDate(),'yyyy-MM-dd')}"></td>
          </tr>
        </tbody>
      </table>
    </section>
    <!-- /PostListInCategory -->
    <!-- Tag -->
    <section class="container">
      <h5 class="tag" style="margin-left: 5px" th:if="${tagList.size()>1}" th:text="태그">태그</h5>
      <th:block th:if="${tag!='없음'}" th:each="tag:${tagList}">
        <a type="button" class="btn tag-btn" th:href="@{/tag(q=${tag})}" th:text="'#'+${tag}">Secondary</a>
      </th:block>
    </section>
    <!-- /Tag -->
      <!-- Utterance -->
      <div class="comment">
        <script src="https://utteranc.es/client.js"
                repo="lazerfit/blog"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
      </div>
      <!-- /Utterance -->
    </section>
    </article>
  <script src="/js/post/post.js"></script>
</main>
</body>
