@keyframes scale-out {
  from{
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  to{
    transform: scale(1);
  }
}

@keyframes button-scale-out {
  from{
    transform: scale(1);
  }

  50%{
    transform: scale(1.04);
  }

  to{
    transform: scale(1);
  }
}
