@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('./common.css');
@font-face {
  font-family: 'AppleSDGothicNeoR';
  src: local("/font/AppleSDGothicNeoR.tff");
}

* {
  box-sizing: border-box;
  font-family: AppleSDGothicNeoR,'Noto Sans KR', sans-serif;
}

body {
  font-family: AppleSDGothicNeoR,'Noto Sans KR', sans-serif;
  padding: 5px;
  background: white;
  /*#f1f1f1*/
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

ul li {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

div {
  display: block;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0;
}

a, a:link {
  text-decoration: none;
  color: #555;
}

form {
  display: block;
}

input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
  -webkit-appearance: none;
}

.content-wrap {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;

}

.wrap__header {
  text-align: left;
  padding-left: 20px;
}

.wrap__header > h4 {
  margin-top: 25px;
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

.card-header{
  background-color: white;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  border-left: thin solid #f1f1f1;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 7px;
  margin-top: 12px;
  border-color: white;
}

.card-footer{
  background: white;
  border: none;
  float: left;
  padding-top: 5px;
  padding-left: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  border-top: thin solid #f1f1f1;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.profile{
  /*border-radius: 90%;*/
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 30%;
  margin-top: 9px;
}

.badge{
  margin-left: 8px;
  margin-top: 18px;
  margin-bottom: 3px;
  width: fit-content;
}

a:hover{
  text-decoration-color: var(--color-main);
}

.card > .card-body-index{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  font-family: Georgia,'Noto Sans KR', sans-serif;
}

.navbar{
  border-color: white;
  /*border-bottom-color: #f1f1f1;*/
}

.del-button {
  border: none;
  padding-left: 0;
  background: none;
}

.dropdown {
  position: relative;
  right: 0;
  display: inline-block;
  float: right;
  cursor: pointer;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 75px;
  top: 100%;
  left: -70px;
  background-color: #f1f1f1;
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 13px;
}

.dropdown-content a:hover {
  color: var(--color-main) ;
}

.show{
  display: block;
}

.isDisabled {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 13px;
}

.social-media-icon {
  width: 25px;
  height: 25px;
}

.share-button {
  width: 25px;
  height: 25px;
  margin-left: 13px;
}

.categoryList a{
  text-decoration: none;
  color: black;
}

.categoryList a:hover {
  color: var(--color-main);
}

#category_modal_btn, #add_category_btn {
  margin-top: 30px;
}

.tag-btn {
  padding: 4px;
  cursor: pointer;
  text-align: center;
  color: rgb(128, 128, 128);
}

.tag-btn:hover {
  background-color: var(--color-main);
  color: white;
}

.categoryList > a {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  font-family: Georgia,'Noto Sans KR', sans-serif;
}

.another_category{
  padding: 16px 18px 14px;
  border: 1px solid #E5E5E5;
  margin-left: 12px;
  margin-top: 15px;
  display: block;
  max-width: 1080px;

}

.another_category h4 {
  font-size: 0.875rem;
  color: #737373;
}

.another_category a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px) {
  .another_category {
    margin: 40px 0 37px;
  }
}

.another_category tr {
  display: table-row;
}

.another_category td {
  text-align: right;
}

.another_category th {
  text-align: left;
  word-break: break-all;
  line-height: 1.5;
  font-size: 0.875rem;
}

.another_category th a, .another_category td{
  color: #737373;
}

.another_category table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.card-text {
  color: #999;
  padding-top: 5px;
}

.card-title {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4;
}

.card-title a:hover {
  color: var(--color-main);
}

.post-card-header {
  z-index: 20;
  display: table;
  height: 340px;
  background-color: #989898;
  background-position: 0 75%;
  background-size: cover;
  box-sizing: border-box;
  max-width: 101.2vw;
  width: 1080px;
  background-image: url("/img/pexels-vlad-bagacian-1061623.jpg");
}

.row-post-header {
  max-width: 100%;
  width: 1080px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}

.post-card-header .inner {
  display: table-cell;
  position: relative;
  z-index: 10;
  padding-bottom: 38px;
  vertical-align: bottom;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1080px;
  width: 100%;
  box-sizing: border-box;
}

.post-card-header .category {
  display: block;
  max-width: 1080px;
  margin: 0 auto 13px;
  font-size: 0.875em;
  color: white;
  padding-left: 4px;
}

.post-card-title {
  color: white !important;
}

.post-card-header .inner .meta{
  margin-top: 33px;
  font-size: 0.8125em;
  display: block;
  max-width: 1080px;
  color: white;
  padding-left: 4px;
}

.post-card-header .inner .meta > a{
  color: white;
}

.post-card-header .inner .meta > button {
  color: white;
}

.post-card-header .inner .post-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 2.215em;
  line-height: 1.2352;
  color: #fff;
  max-width: 1080px;
  width: 100%;
}

.row {
  width: 100% !important;
}

#content .inner:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.post-item a {
  display: block;
  text-decoration: none;
  color: black;
}

.post-item .title {
  margin-bottom: 9px;
  padding-top: 3px;
  font-size: 1.125em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.4;
}

.post-item .excerpt {
  overflow: hidden;
  height: 3.75rem;
  font-size: 0.875em;
  line-height: 1.25rem;
  margin-bottom: 11px;
  text-overflow: ellipsis;
  color: #999999;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 700px;
}

.post-item .meta {
  display: block;
  font-size: 0.75em;
  color: #999999;
}

.post-item:nth-child(3n+1) {
  clear: both;
}

.post-item {
  float: none;
  overflow: hidden;
  width: 100%;
  margin: 0 0 28px;
  padding: 0 24px;
}

.post-header {
  margin-bottom: 28px;
  padding-bottom: 18px;
  border-bottom: 1px solid #eee;
  padding-top: 36px;
  margin-left: 6px;
  padding-left: 6px;
}

.post-header h1 {
  margin-bottom: 18px;
  font-size: 1em;
  line-height: 1.375;
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  padding: 0 12px;
}

.post-header h1 em {
  color: #04beb8;
  margin-left: 7px;
  font-style: normal;
}

.comment-list ul li .author-meta .date:before {
  content: "";
  display: inline-block;
  margin: 0 7px 0 5px;
  background-color: #e3e3e3;
  vertical-align: middle;
  width: 2px;
  height: 2px;
}

.comments h2 {
  margin: -3px 0 -1px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 1em;
  display: block;
}

.comments h2 .count {
  margin-left: 4px;
  color: #04beb8;
}

.comment-list {
  margin: -3px 0 -1px;
  padding: 0 24px;
  border: 0;
}

.tag-btn {
  margin-bottom: 21px;
}

.comment-list ul li {
  display: inline-block;
  width: 100%;
  padding: 32px 0 28px;
  border-bottom: 1px solid #eee;
  vertical-align: top;
  box-sizing: border-box;
}

.comment-list ul li .author-meta {
  position: relative;
  font-size: 0.8125em;
  color: #999;
}

.comment-list ul li .author-meta .nickname {
  color: #555;
  font-weight: 400;
}

.comment-list ul li p {
  font-size: 0.875em;
  line-height: 1.3125rem;
  color: #777;
  box-sizing: border-box;
}

.comment-list ul li .reply {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.8125rem;
  color: #999;
}

.comment-form {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 24px;
}

.input-info input{
  display: inline-block;
  width: 15%;
  margin-bottom: 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #eee;
  color: #777;
  padding-left: 10px;
  padding-top: 5px;
  min-width: 80px;
}

.comment-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 16px 100px 16px 16px;
  border: 1px solid #eee;
  font-size: 0.875em;
  color: #777;
  box-sizing: border-box;
  resize: none;
  min-width: 200px;
}

.reply-btn {
  background-color: #333;
  color: #fff;
  /*float: right;*/
  margin-top: 0;
  margin-right: 25px;
  width: 100px;
  height: 36px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.more {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

.comment-modal-btn, .comment-del-btn{
  background-color: var(--color-main);
  border: none;
  color: white;
  float: left;
}

.comment-del-btn {
  width: 85px;
}

.edit-comment {
  padding: 12px;
  height: 200px;
  width: 100%;
  font-size: 16px;
  resize: vertical;
  border: 1px solid #eee;
}

.comment-username {
  padding: 12px;
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

button.close {
  background: none;
  border: none;
  color: #777;
}

.comment-pwd {
  border: 1px solid #eee;
  width: 150px;
  height: 35px;
  padding: 5px;
}

.header-title {
  background-color: #faf0e6;
  height: 80px;
}

.header-title h1 {
  padding-top: 20px;
}

.btn-confirm:hover {
  background-color: var(--color-main);
  border: none;
}

.child-comment {
  padding: 40px;
  border-top: 1px solid #eee;
  background-color: #fafafa;
}

.child-comment .author-meta p {
  font-size: 13px;
}

.list-type-thumbnail .post-item {
  float: none;
  overflow: hidden;
  width: 100%;
  margin: 0 0 28px;
}

.list-type-thumbnail .post-item .thum {
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.list-type-thumbnail .post-item .thum img {
  float: right;
  width: 126px;
  height: auto;
  max-height: 120px;
  object-fit: cover;
  margin-left: 57px;
  border: 1px solid #f1f1f1;
  transform: translateY(0);
  -webkit-transform-origin: right;
  -ms-transform: translateY(0);
}

.post-item a {
  display: block;
  text-decoration: none;
}

.post-item a:hover .title,
.post-item a:focus .title {
  text-decoration: underline;
  color: var(--color-main);
}

@media screen and (max-width: 767px)
.content-inner {
  padding: 0 12px;
}

.card .card-body img{
  overflow-clip-margin: content-box;
  overflow: clip;
  display: inline-block;
  width: 100% !important;
  margin: 0;
  height: auto;
}

.card .card-body table {
  width: 100% !important;
}

.loginId {
  float: right;
  border: none;
  background-color: white;
}

.loginId img:hover {
  -webkit-transform-style: preserve-3d;
  transform: scale(1.3);
}

.note-editor .dropdown-toggle::after {
  all: unset
}
.note-editor .note-dropdown-menu {
  box-sizing: content-box
}
.note-editor .note-modal-footer {
  box-sizing: content-box
}

.card-summernote {
  padding-top: 0;
  margin-top: 0;
}

.tags {
  margin-left: 8px;
}

.form-control.me-sm-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  margin-top: 30px
}

#subComment-header {
  text-align: center;
}

#subComment-body {
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 80px
}

#subComment-footer {
  float: right;
  margin-right: 80px;
  margin-top: 10px
}

#subComment-username,
#subComment-password
{
  width: 100px;
  border: 1px
  solid #eee;
}

#subComment-content-area {
  width: 100%;
  margin-top: 20px
}

.comment-header {
  text-align: center;
}

.manage-category-header {
  margin-top: 10px;
}

.list-group {
  margin-top: 10px;
}

.card-text {
  color: black;
}

.popular {
  display: block;
}

.popular ul li a {
  overflow: hidden;
  color: #777;
}

.popular ul li a:hover .aside_title {
  color: var(--color-main);
  text-decoration: underline;
}

.popular ul li a .aside_date {
  display: block;
  margin-top: 6px;
  font-size: 0.75rem;
  line-height: 1;
}


.popular ul li a .aside_title {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.popular ul li {
  margin-top: 27px;
  font-size: 0.8125em;
  line-height: 1.25rem;
}

.popular_thumbnail {
  float: right;
  max-width: 58px;
  max-height: 58px;
  object-fit: cover;
}

.post-list h2 {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 0.875em;
  color: #555;
}

.category {
  margin-bottom: 36px;
}

.rightcolumn {
  padding-top: 75px;
  display: block;
}

.category ul li {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25rem;
  color: #555;
  padding: 6px 0 7px;
}

.category ul .category-first {
  font-weight: 600;
}

.category ul li a {
  color: #555;
  text-decoration: none;
}


