<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>New Post</title>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
  <!-- include summernote css/js-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
<div layout:fragment="leftcolumn">
<div class="container">
  <form th:object="${createPostsForm}" method="post">
  <div class="card card-summernote-title">
    <div class="form-group" style="padding: 1px">
      <select class="form-select" id="exampleSelect1" th:field="*{categoryTitle}" style="margin-bottom: 5px;width: 20%">
        <th:block th:each="category:${allCategorizedPosts}">
          <option th:if="${category.title.equals('카테고리 없음')}" th:value="${category.title}" selected>카테고리</option>
          <option th:unless="${category.title.equals('카테고리 없음')}" th:value="${category.title}" th:text="${category.title}">1</option>
        </th:block>
      </select>
      <input type="text" th:field="*{title}" class="form-control"  placeholder="제목을 입력하세요" id="inputDefault">
    </div>
  </div>
  <div class="card card-summernote">
  <textarea class="summernote" id="summernote" th:field="*{content}"></textarea>
  </div>

  <div>
    <input id="tags" th:field="*{tags}" name="tags" class="tags" placeholder="#태그입력">
    <button type="button" class="btn btn-secondary" onclick="location.href='/'" style="float: right;margin-top: 1px;margin-left: 10px">Cancel</button>
    <button type="submit" class="btn btn-primary" data-bitwarden-clicked="1" style="float: right;margin-top: 1px">Submit</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  </div>
  </form>
</div>
  <script src="/js/summernote.js"></script>
  <script src="/js/settingTagify.js"></script>
  <script src="/js/refreshAlert.js"></script>
</div>
</body>
</html>

