<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>New Post</title>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

</head>
<body>
<main layout:fragment="leftcolumn">
  <section class="container">
    <form th:object="${editPostsForm}" method="post" class="post-edit-from">
      <section class="card card-summernote-title">
        <div class="form-group" style="padding: 1px">
          <select class="form-select" id="exampleSelect1" th:value="${editPostsForm.categoryTitle}" th:field="*{categoryTitle}" style="margin-bottom: 5px;width: 20%">
            <th:block th:each="category:${allCategorizedPosts}">
              <option th:value="${category.title}" th:text="${category.title}"
                      th:selected="${category.title == editPostsForm.categoryTitle}">카테고리</option>
            </th:block>
          </select>
          <input type="text" th:value="${editPostsForm.title}" th:field="*{title}" class="form-control"  placeholder="제목을 입력하세요" id="inputDefault">
        </div>
      </section>
      <section class="card card-summernote">
        <textarea class="summernote" id="summernote" th:field="*{content}" th:text="${editPostsForm.content}"></textarea>
      </section>
      <section>

        <input type="hidden" id="postId" th:value="${postId}">
        <input id="tags" name="tags" th:field="*{tags}" th:value="${editPostsForm.tags}" class="tags" placeholder="#태그입력">
        <button type="button" class="btn btn-secondary" onclick="location.href='/'" style="float: right;margin-top: 1px;margin-left: 10px">Cancel</button>
        <button id="post-save" type="submit" onclick="localStorage.clear();" class="btn btn-primary"  data-bitwarden-clicked="1" style="float: right;margin-top: 1px">Submit</button>
        <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      </section>
    </form>
  </section>
  <script src="/js/summernote.js"></script>
  <script src="/js/settingTagify.js"></script>
  <script src="/js/refreshAlert.js"></script>
  <script src="/js/post/temp_save_edit.js"></script>
</main>
</body>
</html>

