<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Setting</title>
<!--  <link rel="stylesheet" href="/css/adminPage.css">-->
</head>
<body>
<main layout:fragment="leftcolumn">
<h4 style="margin-top: 10px;text-align: center">관리자 페이지입니다.</h4>
</main>
<aside layout:fragment="rightcolumn">

  <section class="list-group" style="margin-top: 10px">
    <a href="#" onclick="manageCategory()" class="list-group-item list-group-item-action" data-bs-toggle="list">카테고리 관리</a>
    <a href="#" onclick="manageAccount()" class="list-group-item list-group-item-action" data-bs-toggle="list">계정 관리</a>
  </section>
  <script src="/js/category/adminCategoryManage.js"></script>
</aside>
</body>
</html>
