<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GWVLG1B3ZZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GWVLG1B3ZZ');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/journal/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/searchBox.css">


</head>

<body>
<div class="wrap">
  <header class="wrap__header">
    <h4><a class="navbar-brand" th:href="@{/}"></a></h4>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
          </ul>
          <form class="d-flex" id="searchPostsForm" name="searchPostsForm" th:action="@{/post/search}" th:method="GET">
            <input class="form-control search-input" id="searchKeyword" type="search" placeholder="Search" name="q" required>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" id="submit">Search</button>
          </form>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
              <div class="dropdown" data-bs-target="dropdownContent">
                <img src="/img/cat2.png" alt="Profile Picture" class="profile" onclick="toggleDropdown('dropdownContent')">
                <div id="dropdownContent" class="dropdown-content">
                  <a th:href="@{/admin/setting}" sec:authorize="hasRole('ROLE_ADMIN')">관리</a>
                  <a th:href="@{/post/new}" sec:authorize="hasRole('ROLE_ADMIN')">글쓰기</a>
                  <a href="#" onclick="logout()" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">로그아웃</a>
                  <input type="hidden" id="layout-csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </div>
              </div>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
              <button class="loginId" th:href="@{/login}" onclick="login()">
                <img src="/img/cat2.png" alt="Profile Picture" class="profile">
              </button>
            </div>

        </div>
      </div>
    </nav>
    <!-- /nav -->
    <button class="offcanvas-toggler" id="offcanvas-toggler" type="button" aria-controls="offcanvasExample">
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas__wrap">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">메뉴</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="offcanvas-search">
            <form class="d-flex" id="offCanvas-searchForm" name="searchPostsForm" th:action="@{/post/search}" th:method="GET">
              <input class="form-control search-input" id="offCanvas-searchForm-input" type="search" placeholder="Search" name="q" required>
              <button class="offcanvas-search-button">
                <input type="submit" name="" value="">
              </button>
            </form>
          </div>
          <div class="aside-content" id="aside-content">

          </div>
        </div>
        <div class="offcanvas-footer" th:if="${#authorization.expression('isAuthenticated()')}">
          <div class="footer-item">
            <a th:href="@{/admin/setting}" sec:authorize="hasRole('ROLE_ADMIN')">관리</a>
          </div>
          <div class="footer-item">
            <a th:href="@{/post/new}" sec:authorize="hasRole('ROLE_ADMIN')">글쓰기</a>
          </div>
          <div class="footer-item">
            <a href="#" onclick="logout()" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">로그아웃</a>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="row" layout:fragment="post-card-head"></div>

<div class="row">
  <main class="leftcolumn" layout:fragment="leftcolumn">
  </main>

  <aside class="rightcolumn" id="rightColumn" layout:fragment="rightcolumn">
    <nav class="category">
      <ul class="list-group">
        <li class="category-first"><a th:href="@{/}">분류 전체보기</a></li>
        <th:block th:each="category:${sidebarCategory}">
          <div class="category_li_wrap">
          <li th:if="${category.getListOrder()>0}">
            <div class="category-url">
              <a th:href="@{/post/category(q=${category.getCategoryTitle()})}" th:text="${category.getCategoryTitle()}"></a>
            </div>
          </li>
            <div class="new_category" th:if="${category.getPostCreatedDate() != null}">
              <img src="/img/category_new.png" th:if="${#temporals.format(category.getPostCreatedDate(),'yyyy-MM-dd')}==${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}" alt="새로운 카테고리 표시">
            </div>
          </div>
        </th:block>
      </ul>
    </nav>
    <div class="post-list">
      <h2>인기글</h2>
    <section class="popular">
      <ul>
        <th:block th:each="post:${popularPosts}">
          <li>
            <a th:href="@{/post/{id}(id=${post.getId()})}">
              <img class="popular_thumbnail" th:src="${post.getThumbnail()}" th:if="${post.getThumbnail != null}" alt="썸네일">
              <span class="aside_title" th:text="${post.getTitle()}"></span>
              <span class="aside_date" th:text="${#temporals.format(post.getCreatedDate(),'yyyy-MM-dd')}" style="display: flex"></span>
            </a>
          </li>
        </th:block>
      </ul>
    </section>
    </div>
  </aside>
</div>

<footer class="footer">
    <a href="" title="My github"><img src="/img/github.png" class="social-media-icon github" alt="github" onclick="github()"></a>
    <a href="" title="My Linkedin"><img src="/img/linkedin.png" class="social-media-icon" alt="linkedin" onclick="linkedin()"></a>
    <a href=""><img src="/img/angle.png" class="top_scroll" alt="topScroll" onclick="topScroll()"
    style="float: right;width: 20px;height: 20px;margin-top: 5px"></a>
    <div class="icon_reference">
      <span>
        Icons By <a target="_blank" href="https://icons8.com">@Icons8</a>
      </span>
    </div>
</footer>
</div>
<script src="/js/login/login.js"></script>
<script src="/js/layout/footer.js"></script>
<script type="text/javascript" src="/js/login/logout.js"></script>
<script type="text/javascript" src="/js/layout/toggleDropdown.js"></script>
<script src="/js/utils/search.js"></script>
<script src="/js/layout/offcanvas.js"></script>
</body>
</html>
