<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Post</title>
</head>
<body>
<div layout:fragment="leftcolumn">
  <div class="container">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <h4 th:text="${postFindById.title}">Header</h4>
        <a th:href="@{/posts/edit/{postId}(postId=${postId})}" style="color: #aaa">수정</a>
      </div>
      <div class="card-body">
        <p class="card-text" th:utext="${postFindById.content}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>


</body>
