<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{layout}">
<head>
  <title>Post</title>
</head>
<body>
<div layout:fragment="leftcolumn">
  <div class="container">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <form name="deletePost" id="deletePosts" th:action="@{/posts/delete/{postId}(postId=${postId})}" method="post">
          <h6 th:if="${postFindById.categoryTitle}" th:text="${postFindById.categoryTitle}"></h6>
        <h2 th:text="${postFindById.title}">Header</h2>
          <input type="hidden" id="postFindById_title" th:value="${postFindById.title}">
        <span style="color: #aaa" th:text="${#temporals.format(postFindById.createdDate(),'yyyy-MM-dd')}">Date</span>
        <a th:href="@{/posts/edit/{postId}(postId=${postId})}" sec:authorize="hasRole('ROLE_ADMIN')" style="color: #aaa;text-decoration-line: none">· 수정 ·</a>
          <button id="del-button" class="del-button" sec:authorize="hasRole('ROLE_ADMIN')" style="color: #aaa;text-decoration-line: none">삭제</button>
        </form>
        <script src="/js/deletePost.js"></script>
      </div>
      <div class="card-body">
        <p class="card-text" th:utext="${postFindById.content}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer">
        <a href="#" title="facebook" onclick="facebook()"><img src="/img/facebook.png" class="share-button" alt="facebook"/></a>
        <a href="#" title="twitter" onclick="twitter()"><img src="/img/twitter.png" class="share-button" alt="twitter" style="margin-left: 5px" /></a>
        <a href="#" title="kakaoTalk"><img src="/img/kakao-talk3.png" class="share-button" alt="twitter" style="margin-left: 5px" /></a>
          <a href="#" title="clipboard" id="clipboard"><img src="/img/clothespin.png" class="share-button" alt="clip" style="margin-left: 5px" /></a>
        <script type="text/javascript" src="/js/copyUrl.js"></script>
        <script type="text/javascript" src="/js/snsShare.js"></script>
      </div>
    </div>
  </div>
</div>
</body>
